<ion-content [fullscreen]="true" class="home-content">
  <div class="container">
    <h1 class="titulo">LiveStream</h1>
    <img src="https://t1.ea.ltmcdn.com/es/posts/8/7/8/como_dejar_a_un_perro_solo_en_casa_20878_600.jpg" alt="Mascota en vivo" >
  </div>
  <div class="botonesTop">
    <!-- Coloca aquí tus botones -->
    <button class="estiloBotonRobot boton"><ion-icon name="arrow-up-circle-outline"></ion-icon></button>
  </div>
  <div class="botones">
    <button class="estiloBotonRobot boton"><ion-icon name="arrow-back-circle-outline"></ion-icon></button>
    <button class="estiloBotonRobot boton"><ion-icon name="arrow-forward-circle-outline"></ion-icon></button>
  </div>
  <div class="botonesDown">
    <button class="estiloBotonRobot boton"><ion-icon name="arrow-down-circle-outline"></ion-icon></button>
  </div>
</ion-content>
