
h1 {
  text-align: center;
}

img {
  width: 80%; /* Establece el ancho de la imagen al 100% del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Hace que la imagen sea un bloque para permitir el centrado automático */
  border-radius: 20px; /* Ajusta el radio del borde para la imagen */
  margin: 0 auto 24px; /* Centra la imagen horizontalmente y ajusta el margen inferior */
  max-width: none; /*Elimina el tamaño máximo establecido */
}

ion-button {
  width: 30%;
  margin: 0 auto;
}

.container {
  text-align: center; /* Centra horizontalmente el contenido del contenedor */
  background: none; /* Elimina cualquier fondo predeterminado del botón */
  border: none; /* Elimina cualquier borde predeterminado del botón */
  position: relative;
  display: flex;
  flex-direction: column; /* Organiza los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
}

.icon {
  margin-right: 10px; /* Espacio entre el icono y el texto */
}



.titulo {
  text-align: left; /* Alinea el texto a la izquierda */
}

.back-button{
  background-color: transparent; /* Establece el fondo del botón como transparente */
  border: none; /* Elimina el borde del botón */
  width: 80%;
  height:100%;
  align-self: flex-start; /* Alinea el botón a la izquierda */
  text-align: left;
}
.botonesTop{
  position: absolute;
  top: 85%;
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: 0; /* Posición en la parte inferior del contenedor */
  left: 0; /* Posición a la izquierda del contenedor */
  margin-bottom: 20px; /* Espacio entre los botones y el borde inferior del contenedor */
  margin-left: 90px; /* Espacio entre los botones y el borde izquierdo del contenedor */
    
}
.botonesDown{
  position: absolute;
  top: 90%;
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: 0; /* Posición en la parte inferior del contenedor */
  left: 0; /* Posición a la izquierda del contenedor */
  margin-bottom: 20px; /* Espacio entre los botones y el borde inferior del contenedor */
  margin-left: 90px; /* Espacio entre los botones y el borde izquierdo del contenedor */
    
}
.botones {
  position: absolute;
  top: 87.5%;
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: 0; /* Posición en la parte inferior del contenedor */
  left: 0; /* Posición a la izquierda del contenedor */
  margin-bottom: 20px; /* Espacio entre los botones y el borde inferior del contenedor */
  margin-left: 90px; /* Espacio entre los botones y el borde izquierdo del contenedor */
    
}
.botones .boton + .boton {
  margin-left: 15px; /* Ajusta este valor según sea necesario para agregar espacio entre los botones */
}
.estiloBotonRobot{
  background-color: transparent;
border: none;
font-size: 24px; /* Tamaño del icono */
color: blue; /* Color del icono */
}
.boton {
  margin-right: 10px; 
  font-size: 70px; /* Ajusta el tamaño del botón según sea necesario */
}
