<ion-content [fullscreen]="true" class="home-content">
  <h1>livestream</h1>
  <div class="content">
    <div class="directional-buttons">
        <!-- Botones del D-pad aquí -->
        <button class="direction-button up">
            <span class="visually-hidden">up</span>
        </button>
        <button class="direction-button left">
            <span class="visually-hidden">left</span>
        </button>
        <button class="direction-button right">
            <span class="visually-hidden">right</span>
        </button>
        <button class="direction-button down">
            <span class="visually-hidden">down</span>
        </button>
    </div>
    <img src="https://t1.ea.ltmcdn.com/es/posts/8/7/8/como_dejar_a_un_perro_solo_en_casa_20878_600.jpg" alt="Room with dog">
</div>

</ion-content>