<ion-header>
  <ion-toolbar>
    <ion-title>Maneja al robot con el gamepad!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <div class="content-wrapper">
    <div class="set">
      <nav class="d-pad">
        <a class="up" href="#" (click)="sendCommand('FORWARD')"></a>
        <a class="right" href="#" (click)="sendCommand('RIGHT')"></a>
        <a class="down" href="#" (click)="sendCommand('BACKWARD')"></a>
        <a class="left" href="#" (click)="sendCommand('LEFT')"></a>  
      </nav>
    </div>
    <img id="videoStream" src="http://192.168.1.106:3001/video_feed" />
  </div>
</ion-content>
