<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="custom-list">
    <ion-card class="custom-card" *ngFor="let user of users">
      <ion-card-header>
        <ion-card-title>{{ user.Nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Rut:</strong> {{ user.Rut }}</p>
        <p><strong>Email:</strong> {{ user.Correo_electronico }}</p>
        <p><strong>Comuna:</strong> {{ user.Comuna }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>