<ion-app>
  <ion-button class="back-button" (click)="goBack()" fill="clear" *ngIf="mostrarBoton">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>

  <ion-router-outlet></ion-router-outlet>

  <!-- El footer se mostrará en todas las páginas menos en las de registro, inicio y bienvenida -->
  <ion-footer *ngIf="mostrarFooter">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/principal">
          <ion-icon name="home-outline"></ion-icon>
          Inicio
        </ion-button>
      </ion-buttons>
      <ion-buttons> 
        <div style="flex: 1; text-align: center;">
          <ion-button class="admin" *akoShowForRoles="[1]" routerLink="/admin">
            <ion-icon name="person-outline"></ion-icon>
            Administrador
          </ion-button>
        </div>
      </ion-buttons>
      <ion-buttons slot="end" routerLink="/account">
        <ion-button>
          <ion-icon name="person-outline"></ion-icon>
          Mi cuenta
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-app>
