ion-header{
    text-align: center;
}

ion-button{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
    --background: #658B6F;
}

ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: #28363D;
}

ion-content {
    --background: #C4CDC1; 
}

ion-toolbar {
    --background: #2F3E46; /* Color de fondo para la barra de herramientas */
    --color: #DEE1DD;
}