<ion-header>
  <ion-toolbar>
    <ion-title>Buscar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Buscar Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Ingrese ID del usuario</ion-label>
        <ion-input [(ngModel)]="userId"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="searchUser()">Buscar</ion-button>
    </ion-card-content>
  </ion-card>

  <div *ngIf="user">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Detalles del Usuario</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>ID:</ion-label>
          <ion-text>{{ user.Rut }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-text>{{ user.Nombre }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-text>{{ user.Correo_electronico }}</ion-text>
        </ion-item>
        <!-- Agrega más campos según sea necesario -->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
