ion-header {
    --background: var(--ion-color-primary); // Ajusta el color de fondo si es necesario
    --color: white; // Ajusta el color del texto si es necesario
  }
  
  ion-title {
    text-align: center; // Centra el título si es necesario
  }

ion-content{
  --background: var(--ion-card-background-color);
}
  