<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Panel de control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Admin Panel</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-button expand="full" [routerLink]="['/see-users']">Ver usuarios</ion-button>
  <ion-button expand="full" [routerLink]="['/search']">Buscar usuario</ion-button>
  <ion-button expand="full" [routerLink]="['/delete-user']">Eliminar usuario</ion-button> 
  <ion-button expand="full" [routerLink]="['/update-user']">Actualizar usuario</ion-button>
  
</ion-content>

