img {
    width: 80%; /* Establece el ancho de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporci칩n de la imagen */
    display: block; /* Hace que la imagen sea un bloque para permitir el centrado autom치tico */
    border-radius: 20px; /* Ajusta el radio del borde para la imagen */
    margin: 0 auto 24px; /* Centra la imagen horizontalmente y ajusta el margen inferior */
    max-width: none; /* Elimina el tama침o m치ximo establecido */
}

h2{
    text-align: center;
    color: #28363D
}

ion-header, ion-title{
    --background: var(--ion-color-primary); // Ajusta el color de fondo si es necesario
    --color: #ECEEEB;
    text-align: center;
}

ion-button{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
    --background: #658B6F;
}

// Para que los botones no se solapen con el footer
ion-content {
    --padding-bottom: 5%;
    --background: #C4CDC1; 
}

ion-header{
    position: relative;
}

ion-toolbar {
    --background: #2F3E46; /* Color de fondo para la barra de herramientas */
    --color: #ECEEEB;
}
  