<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2>Bienvenido(a) {{ userName }}</h2>
  <h2>Livestream</h2>
  <img src="https://t1.ea.ltmcdn.com/es/posts/8/7/8/como_dejar_a_un_perro_solo_en_casa_20878_600.jpg" alt="imagen temporal livestream"/>

  <ion-button expand="full" [routerLink]="['/microfono']">Habla con tu mascota!</ion-button> 
  <ion-button expand="full" [routerLink]="['/control']">Controla al robot</ion-button>
</ion-content>
