<ion-content [fullscreen]="true" class="home-content">
  <h1>Bienvenido a Tu Mascotapp</h1>
  <img src="https://cdn.discordapp.com/attachments/856685585624203264/1231067267790409750/Screenshot_20240419_222041_Google.jpg?ex=66359bbc&is=662326bc&hm=a8cb534b8f5684dfbee35d08dc42dd4ed20736731606f6e2b64230b8db794c10&" alt="Cachorro" />
  <ion-button expand="block" (click)="goToLogin()">Iniciar sesión</ion-button>
  <p class="account-prompt">Si no posees cuenta, puedes registrarte</p>
  <ion-button expand="block" (click)="goToRegister()" fill="clear">Crear una nueva cuenta</ion-button>

</ion-content>
