ion-title{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color:#28363D;
}

ion-toolbar {
    --background: #2F3E46; 
    --color: #ECEEEB;
    text-align: center;
}

ion-input{
    margin-bottom: 1%;
    border-radius: 20px;
}

ion-item{
    margin-bottom: 1%;
    border-radius: 20px;
    --background: #2F575D;
}

ion-content {
    --padding-bottom: 7%;
    --background: #C4CDC1;
}

ion-button{
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
    --background: #658B6F;
    &:hover {
        --background: #628b6b; 
    }
}

.error{
    text-align: center;
    color: rgb(185, 47, 47);
}


