<ion-content class="ion-padding" [fullscreen]="true">
  <ion-title>Crear una cuenta nueva</ion-title>
  <br>
  <form #registrationForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    <!-- Nombre de usuario -->
    <ion-item>
      <ion-input type="text" required [(ngModel)]="username" name="username" #usernameModel="ngModel" label="Nombre de usuario" labelPlacement="floating" helperText="Ingresa tu nombre de usuario" errorText="El nombre es obligatorio"></ion-input>
    </ion-item>

    <!-- RUT -->
    <ion-item>
      <ion-input type="text" required [(ngModel)]="rut" name="rut" #rutModel="ngModel" label="Rut" labelPlacement="floating" helperText="Ingresa tu Rut" errorText="El rut es obligatorio"></ion-input>
    </ion-item>


    <!-- Email -->
    <ion-item>
      <ion-input type="email" required [(ngModel)]="email" name="email" #emailModel="ngModel" label="Email" labelPlacement="floating" helperText="Ingresa tu correo" errorText="El correo es obligatorio"></ion-input>
    </ion-item>

    <!-- Regiones -->
    <ion-item>
      <ion-select [(ngModel)]="selectedRegion" (ionChange)="onRegionChange($event)" required name="region" interface="popover" label="Elige tu región" labelPlacement="floating">
        <ion-select-option *ngFor="let region of regions" [value]="region.name">
          {{ region.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
        
    <!-- Comunas -->
    <ion-item *ngIf="communes.length > 0">
      <ion-select [(ngModel)]="selectedCommune" required name="commune" interface="popover" label="Elige tu comuna" labelPlacement="floating">
        <ion-select-option *ngFor="let commune of communes" [value]="commune.name">
          {{ commune.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>


    <!-- Contraseña -->
    <ion-item>
      <ion-input type="password" required [(ngModel)]="password" name="password" #passwordModel="ngModel" label="Contraseña" labelPlacement="floating" helperText="Ingresa tu contraseña" errorText="Las contraseña es obligatoria"></ion-input>
    </ion-item>

    <!-- Confirmar contraseña -->
    <ion-item>
      <ion-input type="password" required [(ngModel)]="confirmPassword" name="confirmPassword" #confirmPasswordModel="ngModel" label="Contraseña" labelPlacement="floating" helperText="Ingresa la contraseña nuevamente"></ion-input>
    </ion-item>

    <!-- Términos y condiciones -->
    <ion-item>
      <ion-checkbox required [(ngModel)]="acceptsTerms" name="acceptsTerms" #termsModel="ngModel" labelPlacement="end" justify="start"> Acepto los términos y condiciones </ion-checkbox>
    </ion-item>
    
    <ion-button expand="block" type="submit">Registrarse</ion-button>
    <p *ngIf="passwordError" class="error" color="danger">{{ passwordError }}</p>
    <p *ngIf="emailError" class="error" color="danger">{{ emailError }}</p>
    <p *ngIf="rutError" class="error" color="danger">{{ rutError }}</p>

  </form>
</ion-content>
