ion-title{
    text-align: center;
}

ion-input{
    margin-bottom: 1%;
    border-radius: 20px;
}

ion-item{
    margin-bottom: 1%;
    border-radius: 20px;
}

ion-button{
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.error{
    text-align: center;
    color: rgb(185, 47, 47);
}


